.main {
  @apply w-full h-auto p-[10px] m-auto z-[1] sm:w-full sm:px-[10px] md:w-full md:px-[10px] lg:w-full lg:px-[10px];
}

.box-left {
  @apply float-left w-full h-auto flex-[70%]
}

.section{
  @apply mb-[20px] p-[15px] sm:p-[20px] bg-[#fff] border-[1px] border-[#dedede] rounded-[8px];
}

.box-right {
  @apply float-right w-full flex-[30%] h-auto 3xs:hidden 2xs:hidden xs:hidden s:hidden sm:hidden lg:block;
}

.the-article {
  @apply mb-[50px] text-[1.2rem] leading-[1.5] border-[1px] border-[#dedede] bg-[#fff] p-[20px] rounded-[8px]
}

.breadcrumb {
  @apply mb-[15px] text-[1rem] flex
}

.page-header {
  @apply mb-[15px];
}
.page-h1 {
  @apply text-[2rem] leading-[1.2] mb-[5px] font-bold
}

.the-article .article-summary {
  @apply italic mb-[15px] text-[1.05rem]
}

.the-article .article-main-content :first-child {
  @apply mt-0 pt-0
}

.the-article .article-main-content p {
  @apply text-[1.05px] leading-[1.3]
}

.the-article .article-main-content h2 {
  @apply text-[1.7rem] leading-[1.3] font-bold
}

.section .section-header {
  @apply mt-0 mb-[15px]
}

.section .section-title {
  @apply text-[1.3rem] font-bold m-0 p-0
}

.list-links>li {
  @apply relative flex items-center pl-[24px] border-b-[1px] border-[#eee] border-dashed
}

.list-links>li:before {
  display: inline-block;
  content: "";
  width: 14px;
  height: 14px;
  background: url('https://phongtro123.com/images/chevron-right.svg') center no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  opacity: .3;
}

.sub {
  @apply ml-[15px]
}

.list-links>li a {
  @apply py-[5px] inline-flex items-center text-[#333] w-full leading-[1.4] text-[1rem] font-normal
}

.list-links>li a {
  @apply hover:text-[#ff6600];
}

.list-links>li>h2 {
  margin: 0;
  padding: 0;
  display: inline-flex;
  width: 100%;
}

.list-links>li .count {
  color: #aaa;
  margin-left: 5px;
  float: right;
  font-size: .9rem;
}

.post-listing .post-item {
  padding: 10px 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid #eee;
}
.post-listing .post-item {
  border-color: #ddd!important;
  z-index: 1;
}
.post-listing .post-item {
  display: flex;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  margin: 0;
  background-color: #fff;
  z-index: 0;
  position: relative;
}

.post-listing .post-item a {
  display: flex;
}

.post-listing.aside .post-item .figure1 {
  width: 65px;
  height: 65px;
}
.post-listing .post-item .figure1 {
  position: relative;
  overflow: initial;
}

.figure1 {
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
}

.post-listing .post-item .post-meta {
  margin-left: 15px;
  flex: 1;
  position: relative;
}

.post-listing.aside .post-item .post-title {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
}
.post-listing .post-item .post-title {
  display: block;
  white-space: normal;
  margin: 0 0 10px;
}

.post-listing.aside .post-item .post-price {
  font-size: 1rem;
  margin-bottom: 0;
}
.post-listing .post-item .post-price {
  font-weight: 700;
  color: #16c784;
}

.post-listing .post-item .post-acreage, .post-listing .post-item .post-location, .post-listing .post-item .post-price, .post-listing .post-item .post-summary, .post-listing .post-item .post-time {
  float: left;
  margin-right: 20px;
  line-height: 19px;
}

.post-listing.aside .post-item .post-time {
  font-size: .9rem;
  margin-bottom: 0;
}
.post-listing .post-item .post-time {
  float: right;
  margin-right: 0;
  color: #aaa;
  line-height: 19px;
}

.blog-listing .article-item>a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #eee;
}

.blog-listing .article-item .figure {
  width: 140px;
  height: 140px;
}

.figure {
  margin: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #f1f1f1;
}

.figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 3px;
}

.img {
  border-style: none;
}

.blog-listing .article-item .article-meta {
  margin-left: 15px;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}

.blog-listing .article-item .article-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #055699;
  padding-right: 10px;
}

.blog-listing .article-item .article-summary {
  color: #8a8d91;
}

.pagination {
  margin: 20px 0 50px;
  padding: 0;
  text-align: center;
}

.pagination .page-item {
  list-style-type: none;
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3px;
}

.pagination .page-item .page-link {
  background-color: #e13427;
  border-color: #e13427;
  color: #fff;
}

.pagination .page-item .page-link {
  display: block;
  padding: 15px 18px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
}


/* phần box dưới */
.link {
  @apply text-[#1266dd]  hover:text-[#ff6600];
}
.desc {
  @apply my-[18px] bg-white;
}

.desc1 {
  @apply my-[14px];
}
.section-whyus,
.section_content {
  @apply pt-[20px] px-[10px] sm:px-[50px] pb-[50px] text-center text-[15px];
}

.section .section_title {
  @apply text-[21px] font-bold m-0 p-0;
}

.whyus_countup {
  @apply flex;
}

.whyus_countup_item {
  @apply w-[25%] float-left text-center;
}

.whyus_countup_item .whyus_countup_item_number {
  @apply font-bold text-[0.9rem] block mb-[5px] sm:text-[1.1rem] md:text-[1.3rem] lg:text-[1.5rem];
}

.but {
  @apply bg-[#f73859] border-[#f73859] text-white;
}

.section-support {
  @apply border-[7px] border-dashed border-[#e8eefc] p-[10px] sm:p-[30px] mt-[30px] rounded-[8px] bg-white;
}
.support-bg {
  @apply w-auto mx-auto text-center;
}
.section-support .list-support {
  @apply text-center px-[10px] mt-[30px] flex flex-col sm:block;
}

.section-support .list-support-title {
  @apply text-[1.2rem] mb-[20px] text-[#233762];
}

.section-support .support-item {
  @apply mb-[25px] w-full sm:w-[33%] float-left;
}

.section-support .support-item-title {
  @apply font-bold block mb-[10px] text-[#f60] uppercase text-[0.7rem] sm:text-[0.9rem] md:text-[0.9rem] lg:text-[0.9rem];
}

.section-support .support-item a {
  @apply block text-[#233762] text-[0.7rem] font-bold my-[5px] sm:text-[1.1rem] md:text-[1.3rem] lg:text-[1.5rem];
}

.section-support a .btn {
  @apply inline-flex text-[#fff] text-[1rem] font-bold py-[10px] px-[30px];
}

.btn {
  @apply h-[40px] rounded-[5px] border-[1px] border-solid border-[#3961fb] bg-[#3961fb] font-bold text-[#fff] inline-flex items-center justify-center no-underline cursor-pointer px-[10px] m-0;
}
